<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="margin: 0 auto;">
	<div style="width: 630px;margin: 0 auto;">
	<table style="BORDER-TOP-STYLE: none; WORD-WRAP: break-word; BORDER-LEFT-STYLE: none; WIDTH: 630px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none"
class="xdFormLayout">
	<colgroup>
		<col style="WIDTH: 630px">
	</colgroup>
	<tbody>
		<tr class="xdTitleRow" style="height: 83px;">
			<td class="xdTitleCell" style="BORDER-TOP: #bfbfbf 1pt; BORDER-RIGHT: #bfbfbf 1pt; BORDER-BOTTOM: #000000 1pt; BORDER-LEFT: #bfbfbf 1pt"
			valign="bottom">
				<h1 style="text-align: center;">
					合作方准入审批表
				</h1>
			</td>
		</tr>
		<tr style="min-height: 230px; height: 230px;" class="xdTableContentRow">
			<td class="xdTableContentCell" style="BORDER-TOP: #000000 1pt" valign="top">
				<div>
					<table border="1" bordercolor="buttontext" style="WORD-WRAP: break-word; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 627px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none"
					class="xdLayout">
						<colgroup>
							<col style="WIDTH: 156px">
								<col style="WIDTH: 157px">
									<col style="WIDTH: 157px">
										<col style="WIDTH: 157px">
						</colgroup>
						<tbody valign="top">
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; BORDER-BOTTOM: #000000 1pt solid; BORDER-LEFT: #000000 1pt solid">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											公司名称
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<div align="center">
										<font face="宋体" size="4">{$saledpt.SdName}</font>
									</div>
								</td>
							</tr>
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; BORDER-BOTTOM: #000000 1pt solid; BORDER-LEFT: #000000 1pt solid">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											经办人
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; BORDER-LEFT: #000000 1pt solid">
									<font face="宋体" size="4">
										<div align="center">
											{$saledpt.SdOperator}
										</div>
									</font>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; BORDER-BOTTOM: #000000 1pt solid; BORDER-LEFT: #000000 1pt solid">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											时间
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; BORDER-LEFT: #000000 1pt solid">
									<font face="宋体" size="2">
										{$saledpt.SdDate}
									</font>
								</td>
							</tr>
							<tr>
								<td style="min-height: 214px; height: 214px;BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											业务概要
										</font>
									</div>
								</td>
								<td style="min-height: 214px; height: 214px;BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											{$saledpt.SdClientAddress}
										</font>
									</div>
								</td>
							</tr>
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											防控措施
										</font>
									</div>
								</td>
								<td style="min-height: 214px; height: 214px;BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											{$saledpt.SdPost2}
										</font>
									</div>
								</td>
							</tr>
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											经办部门意见
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<font face="宋体" size="4">
										{$saledpt.checkCon1}
									</font>
								</td>
							</tr>
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											财务部意见
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<font face="宋体" size="4">
										{$saledpt.checkCon2}
									</font>
								</td>
							</tr>
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											风控质价部意见
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<font face="宋体" size="4">
										{$saledpt.checkCon3}
									</font>
								</td>
							</tr>
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											经办部门分管领导意见
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<font face="宋体" size="4">
										{$saledpt.checkCon4}
									</font>
								</td>
							</tr>
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											风控部门分管领导意见
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<font face="宋体" size="4">
										{$saledpt.checkCon5}
									</font>
								</td>
							</tr>
							<tr style="min-height: 53px; height: 53px;">
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px">
									<div align="center" style="line-height: 23px;padding: 15px 5px;">
										<font face="宋体" size="4">
											董事长审批
										</font>
									</div>
								</td>
								<td style="BORDER-TOP: #000000 1pt solid; BORDER-RIGHT: #000000 1pt solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; BORDER-LEFT: #000000 1pt solid; PADDING-RIGHT: 1px"
								colspan="3">
									<font face="宋体" size="2">
										{$saledpt.checkCon6}
									</font>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>