<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="Keywords" content="">
<meta name="Description" content="">
<title>日照兰花业财一体化系统</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/default.css?v={:time()}" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/swiper.min.css?v={:time()}" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/layer.css?v={:time()}" >
<link rel="stylesheet" type="text/css" href="__STATIC__//plugs/layui-v2.5.6/css/layui.css?v={:time()}" >
<script type="text/javascript" src="__STATIC__/mobile/js/rem.js?v={:time()}"></script>
<script type="text/javascript" src="__STATIC__/plugs/jquery-3.4.1/jquery-3.4.1.min.js?v={:time()}"></script>
<script type="text/javascript" src="__STATIC__/mobile/js/layer.js?v={:time()}"></script>
<script type="text/javascript" src="__STATIC__/mobile/js/swiper.min.js?v={:time()}"></script>
<script type="text/javascript" src="__STATIC__/plugs/layui-v2.5.6/layui.js?v={:time()}"></script>
<body>
	{include file="common/head" /}
	
	<div class="list">
		<!-- <div class="title">所有订单<img src="__STATIC__/mobile/pic/to.png"></div> -->
		<ul>
			<!-- <li onclick="toindex(this)">
				<div class="tit">销售合同<span>&nbsp;&nbsp;&nbsp;(11121111111111111)</span></div>
				<div class="line"></div>
				<div class="listcar">
					<div class="ctop">
						<div>
							<p>销方：<span>日照兰花冶电能源有限公司</span></p>
							<p>购方：<span>贵州乌江水电开发有限责任公司大龙分公司</span></p>
						</div>
					</div>
					<div class="des"><img src="__STATIC__/mobile/images/time.png">2021-05-08 </div>
				</div>
				<div class="line"></div>
				<div class="btn"><div class="price fc">1000吨（基价10元）</div><a href="" class="fc">审批</a><a href="" class="fc">查看</a></div>
			</li> -->	
		</ul>
	</div>
	<script>
	layui.use('flow', function() {
	    var $ = layui.jquery;
	    var flow = layui.flow;
	    flow.load({
	        elem: '.list ul' //流加载容器
	        ,isAuto:true
	        ,isLazyimg:true
	        ,done: function(page, next){ //执行下一页的回调
	            var lis = [];
	            $.ajax({
	                url:"/Saledepartment",
	                dataType:'json',
	                type:'post',
	                data:{'page':page,'limit':5},
	                success:function(t){
	                    layui.each(t.data, function(index, item){
	                    	var type="";
	                    	if(item.lcType==1){
	                    		type="销售客户";
	                    	}else {
	                    		type="采购客户";

	                    		item.cChegndLve = item.cSeller;
	                    	}
	                    	lis.push('<li><div class="tit"  onclick="toindex(this)" data-id="'+item.SdID+'">'+item.SdName+'<p><span>'+type+'</span></p></div>'
	                				+'<div class="line"></div><div class="listcar"  onclick="toindex(this)" data-id="'+item.SdID+'"><div class="ctop"><div><p>联系人：<span>'+item.SdContact+'</span></p><p>手机：<span>'+item.SdPhone+'</span></p></div></div></div>'
	                				+'<div class="line"></div><div class="btn"><a href="/Saledepartment/detail?id='+item.SdID+'" class="fc">审批</a><a href="/Saledepartment/detail?id='+item.SdID+'" class="fc">查看</a></div></li>'
	                		);
	
	                    });
	                    next(lis.join(''), page < t.pages);
	                },
	                error: function () {
	                    layer.open({content:'网络繁忙,请重试',skin:'msg',time:2});
	                }
	            })
	        }
	    });
	})
	function toindex(obj){
		var id = $(obj).data("id");
		window.location.href='/Saledepartment/detail?id='+id;
	}
	</script>
	{include file="common/bot" /}
</body>
</html>