<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('system.step/add')}"
               data-auth-edit="{:auth('system.step/edit')}"
               data-auth-delete="{:auth('system.step/delete')}"
               data-auth-form="{:auth('system.step/form')}"
               data-auth-addnode="{:auth('system.step/addnode')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>