<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="Keywords" content="">
<meta name="Description" content="">
<title>日照兰花业财一体化系统</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/default.css?v={:time()}" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/swiper.min.css?v={:time()}" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/layer.css?v={:time()}" >
<link rel="stylesheet" type="text/css" href="__STATIC__/plugs/layui-v2.5.6/css/layui.css?v={:time()}" >
<script type="text/javascript" src="__STATIC__/mobile/js/rem.js?v={:time()}"></script>
<script type="text/javascript" src="__STATIC__/plugs/jquery-3.4.1/jquery-3.4.1.min.js?v={:time()}"></script>
<script type="text/javascript" src="__STATIC__/mobile/js/layer.js?v={:time()}"></script>
<script type="text/javascript" src="__STATIC__/plugs/layui-v2.5.6/layui.js?v={:time()}"></script>
<body>
	<div class="head fc">
		<a href="javascript:window.history.go(-1);" class="back"><i class="layui-icon">&#xe603;</i></a>
		{$title}
		<a class="add" href="/Railwayloading/add">添加</a>
	</div>
	<div class="list">
		<ul>
		</ul>
	</div>
	<script>
	function todel(obj){
		var id = $(obj).data("id");
		layer.open({
		    content: '您确定删除吗？'
		    ,btn: ['确定', '不要']
		    ,yes: function(index){
				$.ajax({
		            url:"/Railwayloading/del/",
		            dataType:'json',
		            type:'post',
		            data: {'id':id},
		            success:function(t){
		            	if(t.code==1){
		            		window.location = '/Railwayloading';
		            	}else{
		            		layer.open({content:t.msg,skin:'msg',time:2});
		            	}
		            },
		            error: function () {
		                layer.open({content:'网络繁忙,请重试',skin:'msg',time:2});
		            }
		        })
		    }
		})
	}
	layui.use('flow', function() {
	    var $ = layui.jquery;
	    var flow = layui.flow;
	    flow.load({
	        elem: '.list ul' //流加载容器
	        ,isAuto:true
	        ,isLazyimg:true
	        ,done: function(page, next){ //执行下一页的回调
	            var lis = [];
	            $.ajax({
	                url:"/Railwayloading",
	                dataType:'json',
	                type:'post',
	                data:{'page':page,'limit':5},
	                success:function(t){
	                    layui.each(t.data, function(index, item){
	                    	lis.push('<li><div class="tit"  onclick="toindex(this)" data-id="'+item.id+'">需求号：'+item.plan+'<p><span></span></p></div>'
	                				+'<div class="line"></div><div class="listcar"  onclick="toindex(this)" data-id="'+item.id+'"><div class="ctop"><div><p>发站：<span>'+item.start_station+'</span></p><p>到站：<span>'+item.end_station+'</span></p><p>收货单位：<span>'+item.cusname+'</span></p><p>品种：<span>'+item.coaltype+'</span></p></div></div></div>'
	                				+'<div class="line"></div><div class="btn"><a href="/Railwayloading/edit?id='+item.id+'" class="fc">修改</a><a onclick="todel(this)" data-id="'+item.id+'"  class="fc">删除</a></div></div></li>'
	                		);
	
	                    });
	                    next(lis.join(''), page < t.pages);
	                },
	                error: function () {
	                    layer.open({content:'网络繁忙,请重试',skin:'msg',time:2});
	                }
	            })
	        }
	    });
	})
	function toindex(obj){
		var id = $(obj).data("id");
		window.location.href='/Railwayloading/edit?id='+id;
	}
	</script>
	{include file="common/bot" /}
</body>
</html>