<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">主表id</label>
            <div class="layui-input-block">
                <input type="text" name="sc_id" class="layui-input" lay-verify="required" placeholder="请输入主表id" value="{$row.sc_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车种</label>
            <div class="layui-input-block">
                <input type="text" name="cartype" class="layui-input"  placeholder="请输入车种" value="{$row.cartype|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车号</label>
            <div class="layui-input-block">
                <input type="text" name="carcode" class="layui-input"  placeholder="请输入车号" value="{$row.carcode|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">起票吨数</label>
            <div class="layui-input-block">
                <input type="text" name="sweight" class="layui-input"  placeholder="请输入起票吨数" value="{$row.sweight|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">矿发吨数</label>
            <div class="layui-input-block">
                <input type="text" name="fweight" class="layui-input"  placeholder="请输入矿发吨数" value="{$row.fweight|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">需求号</label>
            <div class="layui-input-block">
                <input type="text" name="plan" class="layui-input"  placeholder="请输入需求号" value="{$row.plan|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否质检</label>
            <div class="layui-input-block">
                <input type="text" name="status" class="layui-input"  placeholder="请输入是否质检" value="{$row.status|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">添加人</label>
            <div class="layui-input-block">
                <input type="text" name="add_id" class="layui-input"  placeholder="请输入添加人" value="{$row.add_id|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>