<div style="margin-top:25%;float: left;width: 100%;"></div>
	<div id="user_indexbot">
		{if $menu==1}
		<a href="/index/">
	        <img src="__STATIC__/mobile/pic/xbh1.png" alt="">
	        <p>待办</p>
	    </a>
		{else}
	    <a href="/index/">
	        <img src="__STATIC__/mobile/pic/xb1.png" alt="">
	        <p>待办</p>
	    </a>
	    {/if}
	    {if $menu==2}
		<a href="/Workbench/">
	        <img src="__STATIC__/mobile/pic/xbh2.png" alt="">
	        <p>工作台</p>
	    </a>
		{else}
	    <a href="/Workbench/">
	        <img src="__STATIC__/mobile/pic/xb2.png" alt="">
	        <p>工作台</p>
	    </a>
	    {/if}
	    {if $menu==3}
		<a href="/my/">
	        <img src="__STATIC__/mobile/pic/xbh3.png" alt="">
	        <p>我的</p>
	    </a>
		{else}
	    <a href="/my/">
	        <img src="__STATIC__/mobile/pic/xb3.png" alt="">
	        <p>我的</p>
	    </a>
	    {/if}
	    <div class="clear"></div>
	</div>
</div>
