<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form layui-form-pane">
        
        <div class="layui-form-item">
            <label class="layui-form-label">应用模块</label>
            <div class="layui-input-block">
                <input type="text" name="model" class="layui-input" lay-verify="required" placeholder="请输入应用模块" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">关联id</label>
            <div class="layui-input-block">
                <input type="text" name="a_id" class="layui-input" lay-verify="required" placeholder="请输入关联id" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">当前审批步骤</label>
            <div class="layui-input-block">
                <input type="text" name="current_step" class="layui-input"  placeholder="请输入当前审批步骤" value="">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>