<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">执行标准id</label>
            <div class="layui-input-block">
                <input type="text" name="cqd_id" class="layui-input" lay-verify="required" placeholder="请输入执行标准id" value="{$row.cqd_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">v1</label>
            <div class="layui-input-block">
                <input type="text" name="v1" class="layui-input"  placeholder="请输入v1" value="{$row.v1|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">s1</label>
            <div class="layui-input-block">
                <input type="text" name="s1" class="layui-input"  placeholder="请输入s1" value="{$row.s1|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">v2</label>
            <div class="layui-input-block">
                <input type="text" name="v2" class="layui-input"  placeholder="请输入v2" value="{$row.v2|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">s2</label>
            <div class="layui-input-block">
                <input type="text" name="s2" class="layui-input"  placeholder="请输入s2" value="{$row.s2|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">g1</label>
            <div class="layui-input-block">
                <input type="text" name="g1" class="layui-input"  placeholder="请输入g1" value="{$row.g1|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">g2</label>
            <div class="layui-input-block">
                <input type="text" name="g2" class="layui-input"  placeholder="请输入g2" value="{$row.g2|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">p1</label>
            <div class="layui-input-block">
                <input type="text" name="p1" class="layui-input"  placeholder="请输入p1" value="{$row.p1|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">p2</label>
            <div class="layui-input-block">
                <input type="text" name="p2" class="layui-input"  placeholder="请输入p2" value="{$row.p2|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>